.container{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
}

div{
    outline: 10px solid #badb24;
    background-color: rgb(24, 21, 187);
    color:#badb24;
    font-family: monospace;
}

.header{
    display:flex;
    flex: auto;
    height:15%;
    justify-content:flex-end;
}

.leftHeader{
    display:flex;
    flex:auto;
    outline:none;
    justify-content: flex-end;
}

.rightHeader{
    display:flex;
    flex:auto;
    font-size:60px;
    align-self: center;
    outline: none;
    justify-content: flex-end;
}
.instructions{
    flex:none;
    outline:none;
    margin-right:20px;
}

h1{
    flex:none;
}

.content{
    display:flex;
    flex:auto;
    height:85%;
}

.leftSidebar{
    display:flex;
    flex-direction: column;
    flex:auto;
    width: 20%;
    height: 100%;
    gap:10px;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    flex:auto;
    width: 60%;
    height:100%;
}


.gridSquare{
    width:33.3333%;
    height:33.3333%;
    flex:none;
    transition: all .50s ease;
    text-align: center;
    
}

.rightSidebar{
    display:flex;
    flex-direction: column;
    flex:auto;
    width:20%;
    height:100%;
    text-align:center;
    font-size: 30px;
}

.lightUp{
    /* this only has one style property because multiple will trigger multiple transitionend events
    which will mess up the javascript*/
    background-color:orange;
}

.correct{
    font-size:20px;
}